/*Colors for Autonomous */
.autonomous .inner .buttons .a {background-color: #BBDEFB;}
.autonomous .inner .buttons .b {background-color: #90CAF9;}
.autonomous .inner .buttons .c {background-color: #64B5F6;}
.autonomous .inner .buttons .d {background-color: #42A5F5;}
.autonomous .inner .buttons input:checked + label, .driverControl .inner .buttons input:checked + label, .endGame .inner .buttons input:checked + label, .analysis .inner .buttons input:checked + label {background-color: #C6FF00; -webkit-box-shadow: none; box-shadow: none; color:#212121;}

/*Colors for Driver Control */
.driverControl .inner .buttons .a {background-color: #CFD8DC;}
.driverControl .inner .buttons .b {background-color: #B0BEC5;}
.driverControl .inner .buttons .c {background-color: #90A4AE;}
.driverControl .inner .buttons .d {background-color: #78909C;}

/*Colors for End Game */
.endGame .inner .buttons .a {background-color: #FFCDD2;}
.endGame .inner .buttons .b {background-color: #EF9A9A;}
.endGame .inner .buttons .c {background-color: #E57373;}
.endGame .inner .buttons .d {background-color: #EF5350;}

/*Colors for Scout Analysis */
.analysis .inner .buttons .a {background-color:#FB8C00; color: white;}
.analysis .inner .buttons .b {background-color:#FFB300; color: white;}
.analysis .inner .buttons .c {background-color:#FDD835; color: white;}
.analysis .inner .buttons .d {background-color:#C0CA33; color: white;}
.analysis .inner .buttons .e {background-color:#7CB342; color: white;}
.analysis .inner .buttons .f {background-color:#43A047; color: white;}

/*Header Colors */
.autonomous .inner .header {background-color: #3F51B5 ;}
.driverControl .inner .header{background-color: #607D8B ;}
.endGame .inner .header{background-color: #D50000 ;}
.analysis .inner .header{background-color: #212121 ;}
