/* =============================================================================
    Header Checkbox Styles
==============================================================================*/
#visibilityToggleContainer input[type=checkbox] {
  display: none;
}

#visibilityToggleContainer label {
  display: inline-block;
  cursor: pointer;
  padding-left: 15px;
  margin-right: 5px;
  font: 12px/17px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #9FA8DA
}

#visibilityToggleContainer input[type=checkbox] + label
{
  background:url('../images/icons/visible_off.svg') no-repeat left;
  background-size: contain;

  height: 15px;
  display:inline-block;
  padding: 0 0 0 20px;
  }
#visibilityToggleContainer input[type=checkbox]:checked + label
{
background:  url('../images/icons/visible_on.svg') no-repeat left;
background-size: contain;
height: 15px;
display:inline-block;
padding: 0 0 0 20px;
}
/* =============================================================================
  Text Entry Styles
==============================================================================*/
/* form starting stylings ------------------------------- */
.textfieldGroup {
  position:relative;
  margin-left:10px;
  height: 40px;
}
.material input {
  font-size:14px;
  padding:11px 10px 4px 5px;
  display:block;
  width:100%;
  border:none;
  background: none;
  border-bottom: 1px solid #5C6BC0;
}

/* LABEL ======================================= */
.material label {
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:15px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
  text-transform: uppercase;
}

/* active state */
.material input:valid ~ label, .material input:focus ~ label 		{
  top:-5px;
  font-size:10px;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:0px;
  position:absolute;
  background:#2196F3;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
.material  input:focus ~ .bar:before, .material input:focus ~ .bar:after {
  width:50%;
}
.search {background:  url('../images/icons/search.svg') no-repeat;
  background-size: contain;
  padding-left:20px;
  height:14px;}
/*========================================================
    Score Card input
========================================================*/
.buttons input {display:none;}
.buttons label {float:left;}
.buttons label:hover{cursor:pointer;}

.column {width:48%;}

.outer {width:100%;
	height:55px;
	margin:3% 1%;
}

.pic {width: 16%;
	height: 100%;
	background:white;
	margin:0% 2%;
}

.inner {height:100%;
	width:80%;
}

.header {height: 25px;
	width: 100%;
	background: green;
}
.title, .subtitle {color: white;
	text-transform: uppercase;
}

.title {font: 13px arial, sans-serif;
		padding: 5px 2%;
}

.subtitle{font: 10px arial, sans-serif;
	background: #333;
	padding: 2px 2%;
}
.buttons label {display:inline-block;
	font: 20px/25px "Arial Black", Gadget, sans-serif;
	text-align:center;
	padding:5px 2%;
	text-transform:uppercase;
}

.buttons input:checked + label {background-color: #03A9F4;
	-webkit-box-shadow: none;
	box-shadow: none;
	color:white;

}

/* Basic parameters above this line, overrides below */
.outer.wh{height: 60px;}
.outer.wh .inner .header{height: 35px;}
.outer.wh .inner .header .title{padding: 4px 2% 1px 2%;}
.outer.wh .inner .buttons label{font: 20px/19px "Arial Black", Gadget, sans-serif;}
.subtitle:empty{display:none;}

.outer.Analysis{margin:1%;}

.a {background-color: #111;}
.b {background-color: #222;}
.c {background-color: #333;}
.d {background-color: #444;}

.full {width: 100%;}
.half {width: 50%;}
.third {width:33.33%;}
.quarter {width:25%}
.fifth {width: 20%}
.sixth {width:12.66%;overflow:hidden;}

#demo {word-wrap: break-word; margin:1%; padding: 2%; background-color: #cccccc;}