@media (max-width : 1400px) and (min-width : 1000px) {
	#scoreCards{width:99%}
	#matchList {width:30%}
}

@media (max-width : 1000px) and (min-width : 70px) {
	#scoreCards{width:100%}
	.player{width:100%;
		margin:5px 0px;}
	#matchData .textfieldGroup {
		width: 30%;
	}
	#matchData label {
		font-size: 12px;
	}
#matchData {width: 64%;}
#navBar .button{padding: 10px}
#matchList {width:50%}
}