@media (max-width : 1340px) and (min-width : 850px) {
.buttons label {display:inline-block;
	font: 14px/25px "Arial Black", Gadget, sans-serif;
}
}

@media (max-width : 1100px) and (min-width : 850px){
	.title {font-size: 11px;
	}
}

@media (max-width : 850px) {
	.player {width: 95%;
	}
}

@media (max-width : 550px) and (min-width : 0px) {
	.buttons label {display:inline-block;
		font: 15px/25px "Arial Black", Gadget, sans-serif;
	}

@media (max-width : 420px) and (min-width : 000px){
	.column {width:90%;
	}
}