/* functional styles*/
.noShow {display:none}
.left {float: left}
.right {float: right;}
.clear {clear: both;}
.margin-0-1 {margin:0% 1%;}
.vcenter {position: relative;
	top: 50%;
	transform: translateY(-50%);}
.dropshadow {-webkit-box-shadow: 0px 6px 7px -3px rgba(0,0,0,0.74);
  -moz-box-shadow: 0px 6px 7px -3px rgba(0,0,0,0.74);
  box-shadow: 0px 6px 7px -3px rgba(0,0,0,0.74);}
.contain{object-fit:contain;}
.fullHeight {height:100%;}
.fixed {position: fixed;}
.blue {background-color: #1A237E;
  color: #E8EAF6}
.red {background-color: #b71c1c;
  color: #ffebee;}
.accent {background-color: #03A9F4;
  color: #E1F5FE;}
.none {background: none;}
.dark {color:#616161}
.light {color: #EEEEEE;}
.full {width: 100%;}
.fiveSixth {width: 83%}
.threeQuarter {width: 75%}
.half {width: 50%;}
.third {width:33.33%;}
.quarter {width:25%}
.fifth {width: 20%}
.sixth {width: 16%}
.center {margin: auto;}
.contain{object-fit:contain;}
.select {border-bottom: 2px solid black}
/* Page Styles */
body {font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size: 12px;}
html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}
h2 {font-size: 16px;
  font-weight: bolder;}
h4{font-weight: bold;}
.button {
  border:none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font: 12px arial, sans-serif;
  margin: 4px 2px;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 100;
}
.button:focus{-webkit-box-shadow: 0px 6px 7px -3px rgba(0,0,0,0.74);
  -moz-box-shadow: 0px 6px 7px -3px rgba(0,0,0,0.74);
  box-shadow: 0px 6px 7px -3px rgba(0,0,0,0.74);
}
.button:hover, .button:active {
 background-color: #FF5722
}
/* navBar styles */
#visibilityToggleContainer {
  font-size: 12px;
  text-transform: uppercase;
}
#topBar {background: #1A237E;
  width:100%;
  color: #E8EAF6;
  height: 20px;
  top:0px;
  z-index: 1;
}
#navBar {background: #3F51B5;
  width:100%;
  height: 60px;
  padding: 10px;
  top:20px;
   z-index: 1;
}

#navContent {width: 100%;
height: 100%;}

/* Main Body Navigation */
#contentContainer {
  margin: 100px auto;
  width: 95%;
  background: #FAFAFA;
  padding: 1%;
}
#scoreCards{
  width: 78%;
	margin-bottom: 2%;
}
/* Table Navigation */
#matchList {width:20%;
  display:table;
  position:relative;
  top:0px;
	overflow: auto;}

table {width: 95%;
	color: #424242;
}
th {font-size: 12px;
  font-weight: lighter;
  padding: 10px 5px;
  border-bottom: 1px solid #9E9E9E}

td {max-width:20%;
  padding: 10px 3px;
  border-bottom: 1px solid #EEEEEE;
  font-size: 12px;
  text-align: center;
	white-space: nowrap;}

tbody tr:hover {background: #E0E0E0;}

.footnote { border-top: 1px solid #ccc;
	margin:auto;
	margin-top: 10%;
	padding:0 5%;
	width: 100%}

.note{
	text-align: justify;
	font-size: 10px;
	}

#scores td:last-of-type{text-align: left}

/* Table Button Styles */
#addMatches{
  margin:15px 0px;
	height:auto;
}
#addMatches label {
  font-size: 10px;
}
#addMatches input:valid ~ label, #addMatches input:focus ~ label {
  font-size: 8px;
  top: 0px;
}
#addMatches input {
  font-size: 10px;
}

#teamDataTable {overflow:auto; display: block;}

.player {width: 49%;
  height:auto;
  float:left;
  margin:0% .5% .5% 0%;
  padding:10px;
  background: white;}

  .navigation img {width: 50px;
    height:50px;
    background-color: #ddd;
    float:left;
  }
* {outline:none;}
tbody ::selection { background: white; }

#teamDataTable td:nth-child(4), #teamDataTable td:nth-child(9), #teamDataTable td:nth-child(13), #teamDataTable td:nth-child(14){border-left: 1.5px solid #000}

#teamDataTable tbody tr:last-of-type {
	border-top:2px solid black;
	background-color: #CFD8DC;
	color: #263238;
	text-transform: uppercase;
}

#teamDataTable th {
	word-spacing: 2000px;
}
#teamDataTable td:last-of-type, #teamDataTable th:last-of-type{
	text-align: left;
}

.footnote div{margin:1%;}

::-webkit-scrollbar {
	width: 12px
}
::-webkit-scrollbar-thumb {
	border-width: 1px 1px 1px 2px
}
::-webkit-scrollbar-track {
	border-width: 0
}
::-webkit-scrollbar {
	height: 10px;
	overflow: visible;
	width: 10px;
}
::-webkit-scrollbar-button {
	height: 0;
	width: 0;
}
::-webkit-scrollbar-track {
	background-clip: padding-box;
	border: solid transparent;
	border-width: 0 0 0 4px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(158, 158, 158, .5);
	background-clip: padding-box;
	border: solid transparent;
	border-width: 1px 1px 1px 6px;
	min-height: 28px;
	padding: 100px 0 0;
	box-shadow: inset 1px 1px 0 rgba(158, 158, 158, .1), inset 0 -1px 0 rgba(158, 158, 158, .07);
}
::-webkit-scrollbar-thumb:horizontal {
	border-width: 6px 1px 1px;
	padding: 0 0 0 100px;
	box-shadow: inset 1px 1px 0 rgba(2158, 158, 158, .1), inset -1px 0 0 rgba(158, 158, 158, .07);
}
::-webkit-scrollbar-thumb:hover {
	background-color: rgba(158, 158, 158, .9);
	box-shadow: inset 1px 1px 1px rgba(158, 158, 158 .25);
}

/*Styles for buttons for the scoring element overview */

.overview.active {background: #BDBDBD;
	color: #212121;
font-weight: normal;}

.overview {text-transform: none;
	cursor: pointer;}

#scoringOverview{
margin-top:20px;}
